.customButton{
  border: none;
  color: white;
  padding: 0.7rem 2rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1rem;
  font-family: 'poppins', Helvetica, sans-serif;
}