
.customInput{
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  display: block;
  border: none;
  border-bottom: 1px solid #ccc;
  width: 100%;
  height: 1rem;
  font-size: 1rem;
  font-weight: 200;
  font-family: 'poppins', Helvetica, sans-serif;
}